{% load static %}
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">O nosso time tem energia!</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <div class="row">
                  {% for c in colaboradores %}
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{{ c.imagem.thumb.url }}" alt="{{ c.nome }}" />
                            <h4>{{ c.nome }}</h4>
                            <p class="text-muted">{{ c.cargo }}</p>
                            <a class="btn btn-dark btn-social mx-2" href="{{ c.twitter }}"><i class="fab fa-twitter"></i></a><a class="btn btn-dark btn-social mx-2" href="{{ c.facebook }}"><i class="fab fa-facebook-f"></i></a><a class="btn btn-dark btn-social mx-2" href="{{ c.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
                </div>
            </div>
        </section>