{% load static %}
<!-- Criar os 6 modais -->
{% for m in portfolios %}
<!-- Modal 1 -->
     <div class="portfolio-modal modal fade" id="portfolioModal{{m.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="close-modal" data-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="modal-body">
                                        <!-- Project Details Go Here-->
                                        <h2 class="text-uppercase">{{ m.nome }}</h2>
                                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                        <img class="img-fluid d-block mx-auto" src="{{ m.imagem.thumb.url }}" alt="{{ m.nome }}" />
                                        <p>{{ m.descricao }}</p>
                                        <ul class="list-inline">
                                            <li>Data: {{ m.modificado }}</li>
                                            <li>Cliente: {{ m.cliente }}</li>
                                            <li>Categoria: {{ m.categoria}}</li>
                                        </ul>
                                        <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
     </div>
{% endfor %}
